<script>
<!--
$(function() {
  var $container = $('#container');

  $('#container').masonry({
    itemSelector : '.box',
    isAnimated: false
  });

  $container.imagesLoaded(function() {
    $container.masonry('reload');
  });

  $container.infinitescroll({
    navSelector  : '#page-nav',    // ページのナビゲーションを選択 
    nextSelector : '#page-nav a',  // 次ページへのリンク
    itemSelector : '.box',     // 持ってくる要素のclass
    loading: {
      finishedMsg: 'image was finished.', //次のページがない場合に表示するテキスト
      img: '<%= image_path 'loader.gif' %>' //ローディング画像のパス
    }
  },
  function(newElements) {
    var $newElems = $(newElements).css({ opacity: 0 });

    $newElems.imagesLoaded(function() {
      $newElems.animate({ opacity: 1 });
      $container.masonry('appended', $newElems, true);
    });
  });
});
-->
</script>

<div id="container">
  <ul>
    <% @posts.each do |post| %>
      <li id="post_<%= post.id.to_s %>" class="box">
      <div class="image_box">
        <%= link_to image_tag(post.url, alt: post.title, style: post.thumb_size_for_style_sheet), post %>
        <div class="status">
          <p class="like">
          <% if user_signed_in? && current_user.unlike?(post) %>
            <%= link_to "イイネ！ (#{post.like_count})", like_post_path(:id => post), :remote => true %>
          <% else %>
            <span>イイネ！ (<%= post.like_count %>) <%= link_to '×', unlike_post_path(:id => post), :remote => true if user_signed_in? %></span>
          <% end %>
          <% if post.tags.count.nonzero? %>
          <p class="tag">
            <span>#<%= "#{post.tags.last.shortname}" %></span>
          </p>
          <% end %>
          </p>
        </div>
      </div>
      <% if post.title.present? %>
        <p class="title"><%= post.title %></p>
      <% end %>
      </li>
    <% end %>
  </ul> 
  <% if @posts.respond_to?(:next_page) && @posts.next_page.present? %>
    <div id="page-nav">
      <%= link_to 'next', page: @posts.next_page %>
    </div>
<% end %>
</div>
