<div id="container">
  <ul>
    <% @posts.each do |post| %>
      <li id="post_<%= post.id.to_s %>" class="box">
      <div class="image_box">
        <%= link_to image_tag(post.url, alt: post.title, style: post.thumb_size_for_style_sheet), post %>
        <div class="status">
          <p class="like">
          <% if user_signed_in? && current_user.unlike?(post) %>
            <%= link_to "イイネ！ (#{post.like_count})", like_post_path(:id => post), :remote => true %>
          <% else %>
            <span>イイネ！ (<%= post.like_count %>) <%= link_to '×', unlike_post_path(:id => post), :remote => true if user_signed_in? %></span>
          <% end %>
          <% if post.tags.count.nonzero? %>
          <p class="tag">
            <span>#<%= "#{post.tags.last.shortname}" %></span>
          </p>
          <% end %>
          </p>
        </div>
      </div>
      <% if post.title.present? %>
        <p class="title"><%= post.title %></p>
      <% end %>
      </li>
    <% end %>
  </ul> 
  <div id="page-nav">
    <%= link_to 'next', page: (@posts.respond_to?(:next_page) ? @posts.next_page : 2) %>
  </div>
</div>
