<% content_for :head do %>
  <%= javascript_include_tag "wall" %>
<% end %>

<div id="detail_dialog">
  <div id="preview">&nbsp;</div>
</div>

<div id="container" class="hidden">
  <ul>
    <% @posts.each do |post| %>
      <li id="post_<%= post.id %>" class="box">
        <div class="image_box">
          <%= link_to image_tag(post.url, alt: post.title, style: post.thumb_size_for_style_sheet), post %>
          <div class="status">
            <p class="tag">
            <% if post.tags.count.nonzero? %>
              <span>#<%= "#{post.tags.last.shortname}" %></span>
            <% else %>
              <span>タグなし</span>
            <% end %>
            </p>
            <p class="like">
            <% if user_signed_in? && current_user.unlike?(post) %>
              <%= like_to post %>
            <% else %>
              <%= unlike_to post %>
            <% end %>
            </p>
          </div>
        </div>
        <% if post.title.present? %>
          <p class="title"><%= link_to post.title, post %></p>
        <% end %>

        <div class="info">
          <% if post.likes.count.nonzero? %>
          <p class="like">
            <% if user_signed_in? && current_user.unlike?(post) %>
              <%= like_to post %>
            <% else %>
              <%= unlike_to post %>
            <% end %>
          </p>
          <% end %>

          <% if post.image_master.likes.count.nonzero? %>
            <p class="we_like"><i class="icon-group" title="みんなのイイネ！"></i><%= post.image_master.likes.count %></p>
          <% end %>

 
          <% if false %>
          <% if post.comments.present? %>
            <p class="comment_count"><i class="icon-comment-alt" title="コメント数"></i><%= post.comments.size %></p>
          <% end %>
          <% end %>

          <% reclip_count = Post.where(image_master_id: post.image_master_id).count %>
          <% if reclip_count.nonzero? %>
            <p class="reclip_count"><i class="icon-paper-clip" title="リクリップ数"></i><%= reclip_count %></p>
          <% end %>

          <% if post.view_count.nonzero? %>
            <p class="view_count"><i class="icon-eye-open" title="閲覧数"></i><%= post.view_count %></p>
          <% end %>
        </div>

        <div class="comment_feild">
          <ul class="comments">
          <% if post.comments.count.nonzero? %>
          <% post.comments.limit(Settings.maximum_comment_count).each do |comment| %>
            <% if user_signed_in? && current_user.id == comment.user_id %>
              <li id="comment_<%= comment.id %>"><%= uncomment_to comment %></li>
            <% else %>
              <li id="comment_<%= comment.id %>"><%= comment_to comment %></li>
            <% end %>
          <% end %>
          <% end %>
          </ul>

          <% if user_signed_in? %>
          <%= form_for Comment.new, :url => { controller: :posts, action: :comment, id: post.id }, :remote => true, :html => { :id => "comment_form_#{post.id}" } do |form| %>
            <%= form.text_field :body, placeholder: 'コメントする' %>
            <%= form.submit 'ポスト', class: 'hidden btn' %>
          <% end %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul> 
  <div id="page-nav">
    <%= link_to 'next', page: @posts.next_page if @posts.respond_to?(:next_page) && @posts.next_page.present? %>
  </div>
</div>

