<%= render :partial => '/base/header' %>
<%= render :partial => '/base/menubar' %>

<script>
<!--
$(function() {
  var $container = $('#container');

  $('#container').masonry({
    // options
    itemSelector : '.box'
  });

  <% if false %>
  $container.imagesLoaded(function() {
    $container.masonry({
      itemSelector: '.box',
      isAnimated: false
    });
  });
  <% end %>

  $container.infinitescroll({
    navSelector  : '#page-nav',    // ページのナビゲーションを選択 
    nextSelector : '#page-nav a',  // 次ページへのリンク
    itemSelector : '.box',     // 持ってくる要素のclass
    loading: {
      finishedMsg: 'image was finished.', //次のページがない場合に表示するテキスト
      img: '<%= image_path 'loader.gif' %>' //ローディング画像のパス
    }
  },
  function(newElements) {
    var $newElems = $(newElements).css({ opacity: 0 });

    $newElems.imagesLoaded(function() {
      $newElems.animate({ opacity: 1 });
      $container.masonry('appended', $newElems, true);
    });
  });
});
-->
</script>


<h1>Welcoma to Postclip!</h1>

<% if user_signed_in? %>
  <h2>ようこそ！ <%= current_user.nick_name %> さん</h2>
<% else %>
  <h2>ログイン</h2>
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div><%= f.label :email %><br />
      <%= f.email_field :email %></div>

    <div><%= f.label :password %><br />
      <%= f.password_field :password %></div>

    <% if devise_mapping.rememberable? -%>
      <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
    <% end -%>

    <div><%= f.submit "ログイン" %></div>
  <% end %>
  <%= render :partial => "devise/shared/links" %>
<% end %>

<h2>最近のポスト一覧</h2>
<% if @posts.present? %>
<div id="container">
<ul>
  <% @posts.each do |post| %>
    <li class='box'>
      <%= link_to image_tag(post.url, alt: post.title, style: 'width: 180px;'), post %>
      <% if post.title.present? %>
        <p class="title"><%= post.title %></p>
      <% end %>
    </li>
  <% end %>
  <div id="page-nav">
    <%= link_to 'next', page: 2 %>
  </div>
</ul>
</div>
<% else %>
  <div>ポストが存在しません</div>
<% end %>
