<h3>1. 画像をセレクト</h3>
<div style="margin: 10px 0; padding: 10px; border: 1px solid red; background-color: #FFEEEE;">
  <script>
  <!--
$(function() {
  $('#container').masonry( {
    itemSelector: '.box',
    isAnimated: true
  });
});
  -->
  </script>

  <div id="container">&nbsp;</div>
  <span style="color: red;">テスト中の機能（URLから動的に画像取得）</span>
  <%= form_for @post, :url => { action: :get_image_tags }, :remote => true do |form| %>
    <%= form.text_field :origin_url, id: 'loading_url' %>
    <%= form.submit 'ロード' %>
  <% end %>
</div>

<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>2. タイトルを入力</h3>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
    <%= f.hidden_field :url %>
    <%= f.hidden_field :origin_url %>
  </div>

  <h3>3. 投稿！</h3>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
