<div id="image_selecter">
  <h3>1. 画像をセレクト</h3>
  <%= form_for @post, :url => { action: :get_image_tags }, :remote => true, :html => { :id => 'load_form' } do |form| %>
    <p>画像のあるページのURLを入力してください。</p>
    <%= form.text_field :origin_url, id: 'loading_url' %>
    <%= form.submit 'ロード', id: 'load' %>
  <% end %>
  <div id="container">&nbsp;</div>
  <div id="page-nav">
    <%= link_to 'next', controller: :posts, action: :get_image_tags, page: 2 %>
  </div>
</div>

<div id="post_dialog">
  <%= form_for(@post) do |f| %>
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
  
        <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div id="preview">&nbsp;</div>
  
    <h3>2. タイトルを入力（任意）</h3>
    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title %>
      <%= f.hidden_field :url %>
      <%= f.hidden_field :origin_url %>
    </div>
  
    <h3>3. 投稿！</h3>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
