<h3>1. 画像をセレクト</h3>
<div style="margin: 10px 0; padding: 10px; border: 1px solid red; background-color: #FFEEEE;">
  <script>
  <!--
$(function() {
  $('#load').click(function() {
    $('#container').html('<%= image_tag 'loader.gif' %>');
    $('#container').removeAttr('style');
    $('#page-nav').remove();
    $('#load_form #loading_url').attr('style', 'display: none;');
    $('#load_form #load').attr('style', 'display: none;');
  });

  var $container = $('#container');

  $container.imagesLoaded(function() {
    $container.masonry({
      itemSelector: '.box',
      isAnimated: true
    });
  });

  $container.infinitescroll({
    navSelector  : '#page-nav',    // ページのナビゲーションを選択 
    nextSelector : '#page-nav a',  // 次ページへのリンク
    itemSelector : '.box',     // 持ってくる要素のclass
    loading: {
      finishedMsg: 'image was finished.', //次のページがない場合に表示するテキスト
      img: '<%= image_path 'loader.gif' %>' //ローディング画像のパス
    }
  },
  function(newElements) {
    var $newElems = $(newElements).css({ opacity: 0 });

    $newElems.imagesLoaded(function() {
      $newElems.animate({ opacity: 1 });
      $container.masonry('appended', $newElems, true);
    });
  });
});
  -->
  </script>

  <span style="color: red;">テスト中の機能（URLから動的に画像取得）</span>
  <%= form_for @post, :url => { action: :get_image_tags }, :remote => true, :html => { :id => 'load_form' } do |form| %>
    <%= form.text_field :origin_url, id: 'loading_url' %>
    <%= form.submit 'ロード', id: 'load' %>
  <% end %>
  <div id="container">&nbsp;</div>
  <div id="page-nav">
    <%= link_to 'next', controller: :posts, action: :get_image_tags, page: 2 %>
  </div>
</div>

<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>2. タイトルを入力</h3>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
    <%= f.hidden_field :url %>
    <%= f.hidden_field :origin_url %>
  </div>

  <h3>3. 投稿！</h3>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
