<%= render :partial => '/base/header' %>
<%= render :partial => '/base/menubar' %>

<h2><%= @post.title || @post.created_at.to_s %></h2>
<%= link_to image_tag(@post.url, style: 'max-width: 640px; max-height: 480px;'), @post.url %>

<h3>タグ一覧</h3>
<ul id="tags">
  <% @post.tags.each do |tag| %>
    <li id="tag_<%= tag.id %>">
      <%= link_to tag.name, controller: :tags, action: :show, name: tag.name %>
      <%= link_to '[×]', untagging_post_path(tag_id: tag.id), :remote => true if user_signed_in? && tag.user_id == current_user.id %>
    </li>
  <% end %>
</ul>
<% if user_signed_in? && !@post.tags_maximum? %>
  <%= form_for Tag.new, :url => { action: :tagging }, :remote => true, :html => { :id => 'tagging_form' } do |form| %>
    <%= form.text_field :name %>
    <%= form.submit 'タグ追加' %>
  <% end %>
<% end %>

<h3>その他の情報</h3>
<div id="post_<%= @post.id %>">
  <div class="like">
    <% if user_signed_in? && current_user.unlike?(@post) %>
      <%= link_to "イイネ！(#{@post.like_count})", like_post_path(:id => @post), :remote => true %>
    <% else %>
      <span>イイネ！(<%= @post.like_count %>) <%= link_to '×', unlike_post_path(:id => @post), :remote => true if user_signed_in? %></span>
    <% end %>
  </div>

  <dl>
    <dt>元のURL:</dt>
    <dd><%= link_to @post.origin_url, @post.origin_url %>

    <dt>ユーザ:</dt>
    <dd><%= @post.user.nick_name %>

    <dt>閲覧数:</dt>
    <dd><%= @post.view_count %>
  </dl>
</div>

<% if user_signed_in? && @post.user_id == current_user.id %>
  <%= link_to 'Destroy', @post, confirm: 'Are you sure?', method: :delete %> |
<% end %>
<%= link_to 'Back', posts_path %> |
<%= link_to 'Home', root_path %>
