<!DOCTYPE html>
<html>
<head>
  <title>Postclip</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield :head -%>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render :partial => '/base/header' %>

<div id="main">
  <div id="leftContainer">
    <ul>
      <li><%= link_to(user_session_path, title: 'ユーザー') { icon_tag('user') } %></li>
      <li><%= link_to(posts_path, title: 'ポスト一覧') { icon_tag('th-list')  } %></li>
    </ul>
    <ul>
      <li><%= link_to(root_path, title: '検索') { icon_tag('search') } %></li>
      <li><%= link_to(tags_index_path, title: 'タグ') { icon_tag('tags') } %></li>
      <li><%= link_to(ranking_views_path, title: 'ランキング') { icon_tag('signal') } %></li>
    </ul>
    &nbsp;
  </div><!-- /leftContainer -->

  <div id="mainContainer">
    <div cass="wrap">
      <p id="notice"><%= notice %></p>
      <p id="alert"><%= alert %></p>

<%= yield %>

    </div>
  </div><!-- /mainContainer -->
</div><!-- /main -->

</body>
</html>
