<!DOCTYPE html>
<html>
<head>
  <title>Postclip</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield :head -%>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render :partial => '/base/header' %>

<div id="main">
  <div id="leftContainer">
    <ul>
      <li><%= link_to(user_session_path) { icon_tag('user') + 'ユーザー' } %></li>
      <li><%= link_to(posts_path) { icon_tag('th-list') + 'ポスト一覧' } %></li>
    </ul>
    <ul>
      <li><%= link_to(root_path) { icon_tag('search') + '検索' } %></li>
      <li><%= link_to(tags_index_path) { icon_tag('tags') + 'タグ' } %></li>
      <li><%= link_to(ranking_views_path) { icon_tag('signal') + 'ランキング' } %></li>
    </ul>
    &nbsp;
  </div><!-- /leftContainer -->

  <div id="mainContainer">
    <div cass="wrap">
      <p id="notice"><%= notice %></p>
      <p id="alert"><%= alert %></p>

<%= yield %>

    </div>
  </div><!-- /mainContainer -->
</div><!-- /main -->

</body>
</html>
